<h1>Pictures from <%= @shown_user.username %></h1>
<ul>
  <% @images.each do |image| %>
      <a href="<%= user_image_url(@shown_user, image) %>" class="pic">
        <img src="<%= image.filepicker_url %>/convert?h=300">
      </a>
  <% end %>
</ul>