<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h1>About</h1>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>What is it?</h2>
    It's Flickr for dogs. 
    <h2>How do logins work?</h2>
    To check the site out, hit the "Sign in as guest" button. 
    Then if you want to register, click "Signed in as guest," and select "Sign up." 
    <p>This is admittedly roundabout, but the TAs had feelings about the matter.
    <h2>Why?</h2>
    It's a class project from <a href="/pages/contact">James Young.</a> He felt that cats got a <i>lot</i> of attention in class, while dogs were <i>criminally</i> underrepresented. 
    <h2>So you're a dog person.</h2>
    That may be an understatement. 
  </div>
</div>