<h1>Pictures</h1>
<ul>
  <%= render @images %>
  <div id="infinite-scrolling">
    <%= will_paginate (@images) %>
  </div>
  <script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
  </script>
  
</ul>