<h1>Tags</h1>

<% tag_counts = Tagging.group(:tag_id).count %>
<% tag_names = {} %>
<% Tag.all.each do |tag| %>
  <% tag_names[tag.id] = tag.name %>
<% end %>

<% tag_counts.sort_by{|k, v| -v}.each do |tag_no, count| %>
  <% tag_name = tag_names[tag_no] %>
  <li>
    <% "#{tag_no}, #{tag_name}, #{count}" %>
    <%= count %> <a href="<%= tag_url(tag_no) %>"><%= tag_name %></a>
  </li>
  
<% end %>
