<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <h1>Upload an image!</h1>
    <form action="<%= user_images_url(current_user) %>" method="post" role="form">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
      <script>
        filepicker.setKey("ApZjrxYjxQCKbJDoJEQnDz")
        function uploadComplete() {
          console.log ("uploaded!");
          var $button = $("#filepickerButton~button:first-of-type");
          $button.text("Image uploaded!");
          $button.addClass("disabled");
        }
      </script>
      <input 
        type="filepicker"
        data-fp-mimetypes="image/*"
        data-fp-container="modal"
        class="btn btn-primary"
        data-fp-button-text="Choose image"
        name="image[filepicker_url]"
        onchange=uploadComplete()
        id="filepickerButton" 
      > 
      
      <div class="form-group" for="title">
        <label>
          Title
        </label>
          
        <input type="text" name="image[title]" value="" class="form-control" id="title">
      </div>
  
      <div class="form-group">
        <label class="form-group">
          Description
        </label>
          
        <textarea name="image[description]" value="" class="form-control" id="description" rows="5"></textarea>
        </label>
      </div>
  
      <button type="submit" value="" class="btn btn-primary">Post image</button>
    </form>
  </div><!-- /col-xs-4 -->
</div><!-- /row -->  